node_modules
npm-debug.log*
dist
.env

.git
.gitignore
.gitattributes

README.md

.github

jest.config.js
eslint.config.js
.prettierrc.json
.prettierignore
.eslintignore

**/__tests__
**/*.test.ts
**/*.spec.ts

